package components

templ Index() {
	@Base("Tiimit - Index") {
		<form action="/api/attendees" method="post" enctype="multipart/form-data">
			<label for="submit-teams">Attending players<input type="file" name="attendace-list" id="attendace-list"/></label>
			<input type="submit" value="Submit"/>
		</form>
	}
}
