package components

templ LoginPage() {
	@ContentPageLayout("Login") {
		<div>
			<h2 class="text-2xl">Log in <span class="text-sm">to Tiimit</span></h2>
			<form class="flex flex-col gap-4 my-4" hx-post="/login" hx-target="#login-error">
				<div>
					<label class="form-label" for="username">Username</label>
					<input class="form-input" type="text" name="username" id="username" placeholder="mattimeikalainen"/>
				</div>
				<div>
					<label class="form-label" for="password">Password</label>
					<input class="form-input" type="password" name="password" id="password"/>
				</div>
				<div id="login-error"></div>
				<div>
					<input class="btn btn-primary" type="submit" value="Log in"/>
				</div>
			</form>
		</div>
	}
}
