package components

import "github.com/Zigelzi/go-tiimit/internal/practice"

templ DistributedTeams(practice practice.Practice) {
	for _, team := range practice.Teams {
		<h2>{ team.Name }</h2>
		<ol>
			for _, player := range team.Players {
				<li>{ player.Name }</li>
			}
		</ol>
	}
	<h2>Players who might attend</h2>
}
